@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/bucketlist/bucket-list-bg%5B1%5D.png");
    background-repeat: no-repeat;
    background-size: 100% 230px;
    font-family: 'Poppins', sans-serif;
}

.container{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.heading{
    color: white;
    font-size: 40px;
    margin-top: 35px;
}

.input-container{
    width: 100%;
    text-align: center;
}

.input-field{
    width: 380px;
    height: 45px;
    border: 1px solid #F7BE38;
    border-radius: 20px;
    font-size: 20px;
}

.btn-submit{
    width: 75px;
    height: 50px;
    border-radius: 20px;
    background-color: #F7BE38;
    font-weight: bold;  
    margin-left: -60px;
    font-size: 20px;
}

h2{
    font-size: 30px;
}

.hint{
    line-height: 22px;
    font-size: 20px;
}

.list-container{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    color : #13243E;
}

li{
    display: flex;
    justify-content: space-between;
    width: 450px;
    list-style-type: none;
    border: 1px solid #828282;
    margin: auto;
    text-align: start;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
    color : #13243E;
}

.btn-reset{
    width: 230px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #F7BE38;
    font-weight: 700;
    font-size: 20px;
}

.footer{
    text-align: center;
    margin-top: 80px;
}

.footer > p{
    color: black;
}